
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    /* background-color: #222; */
    /* color: white; */
    padding: 1rem;
    text-align: center;
}

nav {
    border-bottom: 2px solid #f17910;
    border-top: 2px solid #f17910;
    justify-content: right;
}

footer {
    border-top: 2px solid #f17910;
}

.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
    
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #be193a;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    /* border: 2px solid #ccc; */
    padding: 1rem;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
}
.book h2 {
    color: #dc0739;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

.info {
    text-align: right;
}

@media (min-width: 600px) {
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: right;
    }
    
    .book {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: left;
    }

    .book img {
        grid-row: 2/6;
        grid-column: 2/2;
        justify-content: center;
    }

    .book h2 {
        grid-row: 1/6;
        grid-column: 2/2;
        text-align: left;
    }

    .info {
        
        border-right: 2px solid #f17910;
        padding-right: 32px;
    }

}
          