
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    max-width: 1000 px;
    /* border: 1px solid #ccc;
    padding: 1rem;
    */
    background-color: lightgray;
}
/* header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}
*/ 

header {
    width: 100%;
    text-align: center;
    /*padding: 20px; */
    background-color: navy;
    color: white;
}

nav {
    color: white;
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    /* padding: 10px; */
    margin: 0 auto;
    text-align: center;
    
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    border: 10px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;

}

h1, h3 {
    text-align: center;
    margin: 0;
    padding: 20px;
}
/*section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc; 
}
*/

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 4px;
    
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    width: 100%;
    text-align: center;
    background-color: navy;
    color: white;
    padding: 10px;
}


@media screen and (min-width: 700px) {
    section {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        /* background-color: lightgreen; */
    }

    .menu-btn {
        display: none;

    }

    nav a {
        display: inline;
    }

    nav {
        text-align: center;
    }

}

@media screen and (min-width: 1000px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;

    }
}
          